[tmc2209 cflap]
uart_pin: PE1
diag_pin: ^PG14
interpolate: false
sense_resistor: 0.110
run_current: 0.6
hold_current: 0.6
home_current: 0.3
driver_SGTHRS: 6


[cflap]
pin: !PA8
kick_start_time: 0
#hardware_pwm: true
min_power: 0.25
max_power: 1
tachometer_pin: PG15
#tachometer_ppr: 1
tachometer_poll_interval: 0.00025
shutdown_speed: 0
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
microsteps: 16
rotation_distance: 1154 #1150
velocity: 4000
accel: 85000
endstop_pin: tmc2209_cflap:virtual_endstop
ignore_trigger: true
use_sensorless_homing: true
homing_speed: 120
