[manual_stepper fake_stepper]
step_pin: bottom:PE6
dir_pin: bottom:PA14
enable_pin: bottom:PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
#microsteps:
#rotation_distance:
#   See the "stepper" section for a description of these parameters.
#velocity:
#   Set the default velocity (in mm/s) for the stepper. This value
#   will be used if a MANUAL_STEPPER command does not specify a SPEED
#   parameter. The default is 5mm/s.
#accel:
#   Set the default acceleration (in mm/s^2) for the stepper. An
#   acceleration of zero will result in no acceleration. This value
#   will be used if a MANUAL_STEPPER command does not specify an ACCEL
#   parameter. The default is zero.
#endstop_pin:
#   Endstop switch detection pin. If specified, then one may perform
#   "homing moves" by adding a STOP_ON_ENDSTOP parameter to
#   MANUAL_STEPPER movement commands.
#position_min:
#position_max:
#   The minimum and maximum position the stepper can be commanded to
#   move to. If specified then one may not command the stepper to move
#   past the given position. Note that these limits do not prevent
#   setting an arbitrary position with the `MANUAL_STEPPER
#   SET_POSITION=x` command. The default is to not enforce a limit.


[temperature_sensor meatball]
sensor_type: Generic 3950
sensor_pin: bottom:PF5
min_temp: 0
max_temp: 150

[temperature_sensor chamber_top]
sensor_type: Generic 3950
sensor_pin: PF6
min_temp: 0
max_temp: 100

[temperature_sensor chamber_bottom]
sensor_type: Generic 3950
sensor_pin: bottom:PF6
min_temp: 0
max_temp: 100

[heater_generic chamber]
sensor_type: temperature_combined
sensor_list: temperature_sensor chamber_top, temperature_sensor chamber_bottom
combination_method: mean #max, min
maximum_deviation: 9999
min_temp: 0
max_temp: 100
heater_pin: bottom:PA3
max_power: 1
pwm_cycle_time: 0.01666
control: pid
pid_Kp: 70.184
pid_Ki: 0.376
pid_Kd: 3274.071




[gcode_macro CONSOLE_LOG]
gcode:
   {% for item in printer  %}
     { action_respond_info(item|string) }
   {% endfor %}


[controller_fan meatball_fan]
pin: bottom:PA8
heater: chamber
idle_timeout: 60
shutdown_speed: 1.0
stepper: manual_stepper fake_stepper
#tachometer_pin: bottom:PG12
#tachometer_ppr:
#tachometer_poll_interval: 0.00075

[controller_fan meatball_fan1]
pin: bottom:PE5
heater: chamber
idle_timeout: 60
shutdown_speed: 1.0
stepper: manual_stepper fake_stepper
#tachometer_pin: bottom:PG13
#tachometer_ppr:
#tachometer_poll_interval: 0.00075



[gcode_macro MONITOR_FAN]
variable_is_stalled: 0
variable_stall_count: 0
variable_max_consecutive_stalls: 3
gcode:
    {% set chamber_target = printer['heater_generic chamber'].target|float %}
    {% set min_chamber_temp = 30.0 %}

    {% if chamber_target > min_chamber_temp %}
        {% if printer["gcode_macro MONITOR_FAN"].is_stalled|int == 1 %}
            {% set stall_count = printer["gcode_macro MONITOR_FAN"].stall_count|int %}
            SET_GCODE_VARIABLE MACRO=MONITOR_FAN VARIABLE=stall_count VALUE={stall_count + 1}
            M118 WARNING: Meatball fan stall detected ({stall_count + 1}/{printer["gcode_macro MONITOR_FAN"].max_consecutive_stalls})

            {% if stall_count + 1 >= printer["gcode_macro MONITOR_FAN"].max_consecutive_stalls %}
                STOPPAGE_ROUTINE_FAN
            {% endif %}
        {% endif %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=MONITOR_FAN VARIABLE=stall_count VALUE=0
    {% endif %}

# Define button (no pull-up since you have voltage divider)
[gcode_button meatball_fan_stall]
pin: bottom:PG12
press_gcode:
    SET_GCODE_VARIABLE MACRO=MONITOR_FAN VARIABLE=is_stalled VALUE=1
release_gcode:
    SET_GCODE_VARIABLE MACRO=MONITOR_FAN VARIABLE=is_stalled VALUE=0
    SET_GCODE_VARIABLE MACRO=MONITOR_FAN VARIABLE=stall_count VALUE=0

# Stoppage routine  
[gcode_macro STOPPAGE_ROUTINE_FAN]
gcode:
    {% if printer['pause_resume'].is_paused|int == 0 %}
        M117 !!MEATBALL FAN STALLED!!
        M118 MEATBALL FAN STOPPAGE DETECTED. PAUSING...
        PAUSE
        SET_HEATER_TEMPERATURE HEATER=chamber TARGET=0
    {% endif %}

# Always-on monitoring
[delayed_gcode CHECK_MEATBALL_FAN]
initial_duration: 3
gcode:
    MONITOR_FAN
    UPDATE_DELAYED_GCODE ID=CHECK_MEATBALL_FAN DURATION=3

[gcode_macro MONITOR_FAN1]
variable_is_stalled: 0
variable_stall_count: 0
variable_max_consecutive_stalls: 3
gcode:
    {% set chamber_target = printer['heater_generic chamber'].target|float %}
    {% set min_chamber_temp = 30.0 %}

    {% if chamber_target > min_chamber_temp %}
        {% if printer["gcode_macro MONITOR_FAN1"].is_stalled|int == 1 %}
            {% set stall_count = printer["gcode_macro MONITOR_FAN1"].stall_count|int %}
            SET_GCODE_VARIABLE MACRO=MONITOR_FAN1 VARIABLE=stall_count VALUE={stall_count + 1}
            M118 WARNING: Meatball fan1 stall detected ({stall_count + 1}/{printer["gcode_macro MONITOR_FAN1"].max_consecutive_stalls})

            {% if stall_count + 1 >= printer["gcode_macro MONITOR_FAN1"].max_consecutive_stalls %}
                STOPPAGE_ROUTINE_FAN1
            {% endif %}
        {% endif %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=MONITOR_FAN1 VARIABLE=stall_count VALUE=0
    {% endif %}

# Define button (no pull-up since you have voltage divider)
[gcode_button meatball_fan1_stall]
pin: bottom:PG13
press_gcode:
    SET_GCODE_VARIABLE MACRO=MONITOR_FAN1 VARIABLE=is_stalled VALUE=1
release_gcode:
    SET_GCODE_VARIABLE MACRO=MONITOR_FAN1 VARIABLE=is_stalled VALUE=0
    SET_GCODE_VARIABLE MACRO=MONITOR_FAN1 VARIABLE=stall_count VALUE=0

# Stoppage routine  
[gcode_macro STOPPAGE_ROUTINE_FAN1]
gcode:
    {% if printer['pause_resume'].is_paused|int == 0 %}
        M117 !!MEATBALL FAN1 STALLED!!
        M118 MEATBALL FAN1 STOPPAGE DETECTED. PAUSING...
        PAUSE
        SET_HEATER_TEMPERATURE HEATER=chamber TARGET=0
    {% endif %}

# Always-on monitoring
[delayed_gcode CHECK_MEATBALL_FAN1]
initial_duration: 3
gcode:
    MONITOR_FAN1
    UPDATE_DELAYED_GCODE ID=CHECK_MEATBALL_FAN1 DURATION=3
    
[verify_heater chamber]
hysteresis = 3
check_gain_time = 240
heating_gain: .1
check_gain_time:600
max_error: 500 
